{% extends "base.html" %}

{% block content %}
    <h2>Вставьте ссылку на каритнку, размера 106х17 (желательно) черно-белую. Например https://c.radikal.ru/c02/1904/80/4c5eeb20a712.png
</h2>
    <form action="/toK" method="POST" enctype="multipart/form-data">
        <input name="text">
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>

    <div class="center_txt"><h1>{{ k }}</h1></div>
    <img class="center_img" src="data:image/png;base64,{{ contents }}" />
{% endblock %}



