{% extends "base.html" %}

{% block content %}
    <h1>Формула Джеффа Таппера</h1>
    <img class="center_img" src="{{url_for('static', filename='131e4e2547e2419c0164be0a0c9d0c44.png')}}" />
    Для данного же изображения число k выглядит следующим образом:
    <h4>48584506361897134235820959624942020445814005879832445494830930850619347047088099284506447698655243648        4999724702491511911041160573
        917740785691975432657185544205721044573588368182982375413963433822519945219165128
        4348332905131193199953502413758765239264874613394906870130562295813219481113685339535565290850023875092856892
        694555974281546386510730049106723058933586052544096664351265349363643957125565695936815184334857605266940161
        251266951421550539554519153785457525756590740540157929001765967965480064427829131488548259914721248506352686
        630476300</h4>

    <h2>Теория</h2>
    <h2><img class="center_img" src="{{url_for('static', filename='717e1136bccb218d8da9a15660774953.png')}}" />
Обозначим все, что округляется в правой части неравенства за a.
Тогда
    <img class="center_img" src="{{url_for('static', filename='Screenshot_1.jpg')}}" />
    Пусть y = 17r + q, где q — целая часть от деления y на 17, а r — остаток от деления. Таким образом, мы в формуле можем заменить [y/17] на r, а mod(y, 17) на q.
    Получаем:
    <img class="center_img" src="{{url_for('static', filename='Screenshot_2.jpg')}}" />
    Или
    <img class="center_img" src="{{url_for('static', filename='Screenshot_3.jpg')}}" />
mod(,2) принимает 2 значения — 0 или 1. Соответсвенно, данное неравенство будет говорить, является ли число <img src="{{url_for('static', filename='Screenshot_4.jpg')}}" /> четным или нет.
    Заметим, что изображение рассмаривается на промежутке [N, N+16], соответственно <img src="{{url_for('static', filename='Screenshot_6.jpg')}}" /> остается постоянным на протяжении всей высоты изображения, что нельзя сказать про число r (на протяжении всего изображения меняется от 0 до 16).

    <br />
    <img class="center_img" src="{{url_for('static', filename='Без названия.jpg')}}" />
    <br />
    Число <img src="{{url_for('static', filename='Screenshot_5.jpg')}}" /> будет нечетным тогда и только тогда, когда бит под номером (17x+r) в двоичном предствалении числа q будет равен 1. А так как с высотой число q постоянно меняется и его двоичное представление тоже, то мы каждый раз получаем уникальное изображение! Именно так и работает формула Таппера.
    </h2>
        <h1>Принцип вычисления числа k</h1>
        <h2>
<br />
Сам Таппер описал вычисление числа k для любого изображения размером 106х17 (это важно!) следующим образом:
<br />
1. Перевести изображение в черно-белое представление <br />
2. Читать каждый пиксель снизу-вверх, слева направо и класть его в буфер. Если пиксель черный — то кладем 1, если белый — 0.<br />
3. Перевести двоичное число в десятичное и умножить на 17<br />
4. Профит!<br />

Чтобы получить из числа k изображение — делаем все с точностью наоборот.
    </h2>



{% endblock %}
